<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'todo_list' %}">Todo List</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ list_object.name }}</h1>
            <p><a href="{% url 'edit_list' list_object.id %}">Edit List</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for item in list_object.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
