{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'todo_list' %}">Todo List</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Edit Todo List</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Save</button>
            </form>
    </main>
</body>
</html>
